<h1> Reactive forms Esercizio</h1>
<form [formGroup]="myForm">
    <div>
        <label for="nome">Nome</label>
        <input formControlName="nome"  type="text"/> 
    </div>
    <div *ngIf="myForm.get('nome')?.invalid && myForm.get('nome')?.touched">
        il nome deve avere minimo 3 caratteri 
    </div>
    
    <div formArrayName="numeri">
        <div *ngFor="let indo of numero.controls; let i =index">
            <label for="">Numero</label>
        <input [formControlName]="i" type="number"/> 
        </div>
        <div *ngIf="myForm.get('i')?.invalid && myForm.get('i')?.touched">
            Inserire almeno un numero
        </div>
       
        <button (click)="addNUmero()"> Aggiungi Numero</button>
        
        
    </div>
    <div >
        <label for="email">email</label>
        <input formControlName="email" type="text"/> 
    </div>
    <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
        email non valida
    </div>
    <div>
        <label for="password">password</label>
        <input formControlName="password" type="text"/> 
    </div>
    <div *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched">
        Password deve essere minimo di 6 caratteri
    </div>
    <button (click)="sendData()" [disabled]="myForm.invalid">Invia</button>
</form>


